body{
  background-image: url("../img/main/back.png");
  background-size: cover;
}
.item{
  margin-bottom: 50px;
}
.word1{
  font-family: -apple-system, BlinkMacSystemFont, 'Hiragino Sans', 'Hiragino Kaku Gothic ProN', '游ゴシック  Medium', meiryo, sans-serif;
  font-size: 45px;
  font-weight: bold;
  color: white;
}
.weapon{
  width: 240px;
  overflow: hidden;
  float: left;
  margin-left: 20px;
}
.ans_frame{
  overflow: hidden;
  margin-bottom: 20px;
}
.ans{
  margin-bottom: 10px;
}
.icon{
  position: absolute;
  width: 75px;
  left: 50%;
  margin-left: -150px;
  margin-top: 18px;
  z-index: 1;
}
.word2{
  font-family: -apple-system, BlinkMacSystemFont, 'Hiragino Sans', 'Hiragino Kaku Gothic ProN', '游ゴシック  Medium', meiryo, sans-serif;
  position: absolute;
  font-size: 40px;
  font-weight: bold;
  left: 50%;
  margin-left: -60px;
  margin-top: 30px;
  z-index: 1;
}
.btn{
  position: relative;
  display: block;
  width: 700px;
  height: 120px;
  margin-left: auto;
  margin-right: auto;
  z-index: 0;
}
