.headline{
  margin-top: 100px;
  text-align: center;
}
.judgekun{
  display: inline-block;
  vertical-align: middle;
}
.result{
  height: 150px;
  width: auto;
  display: inline;
  vertical-align: middle;
}
.kojudgekun{
  display: inline;
  vertical-align: middle;
}
.sub_score{
  text-align: center;
  position: relative;
}
.special_score{
  text-align: center;
  position: relative;
}
.bar{
  margin-top: 20px;
  max-height: 200px;
}
.word1{
  position: absolute;
  top: 20px;
  left: 600px;
  font-family: -apple-system, BlinkMacSystemFont, 'Hiragino Sans', 'Hiragino Kaku Gothic ProN', '游ゴシック  Medium', meiryo, sans-serif;
  font-size: 50px;
  color: white;
}
.word2{
  position: absolute;
  top: -15px;
  left: 500px;
  font-family: -apple-system, BlinkMacSystemFont, 'Hiragino Sans', 'Hiragino Kaku Gothic ProN', '游ゴシック  Medium', meiryo, sans-serif;
  font-size: 70px;
  font-weight: bold;
  color: white;
}
.word3{
  margin-top: 30px;
  height: 80px;
  width: auto;
}
.udemae{
  display: block;
  width: 200px;
  margin-left: auto;
  margin-right: auto;
}
.word4{
  margin-top: 30px;
  height: 65px;
  width: auto;
}
.hireo_hitokoto{
  position: relative;
  text-align: center;
}
.hireo{
  height: 120px;
  display: inline-block;
  vertical-align: middle;
}
.fukidasi{
  display: inline;
  vertical-align: middle;
  height: 200px;
  width: 700px;
  vertical-align: middle;
}
.word5_flame{
  position: absolute;
  top: 20px;
  left: 330px;
  height: 160px;
  width: 540px;
}
.word5{
  font-family: -apple-system, BlinkMacSystemFont, 'Hiragino Sans', 'Hiragino Kaku Gothic ProN', '游ゴシック  Medium', meiryo, sans-serif;
  font-size: 30px;
  font-weight: bold;
  color: black;
}
.return_to_title{
  display: block;
  height: 130px;
  margin-left: auto;
  margin-right: auto;
  margin-top: 30px;
  animation: Flash 2s infinite;
}
@keyframes Flash{
  50%{
    opacity: 0.5;
  }
}
